# Binarios y objetos compilados
bin/
obj/

# Archivos de configuración de Visual Studio
*.csproj.user
*.suo
*.vs/

# Archivos de logs y temporales
*.log
*.tmp

# Otros archivos y carpetas que deseas ignorar
FarmaciaElPorvenir/App.config

